In [1]:
import pandas as pd

In [5]:
customer_accounts = pd.read_csv("customer_accounts.csv")
financials_accounts = pd.read_csv("financials_accounts.csv")
financials_balances = pd.read_csv("financials_balances.csv")
financials_transactions = pd.read_csv("financials_transactions.csv")

In [16]:
customer_accounts.head(2)

                              id                name
0  aacc_c10cwqghq00001owfyvwq126  Customer account 1
1   aacc_c8lodc9z00001pjfyvwq126  Customer account 2

In [13]:
customer_accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
id      962 non-null object
name    962 non-null object
dtypes: object(2)
memory usage: 15.1+ KB

In [18]:
financials_accounts.head(2)

,id,customer_account_id,name
0,finacc_ctzrz94k00051v354687jg1,aacc_c10cwqghq00001owfyvwq126,Bank account 1
1,finacc_ctzrz8vz00031v3wyouo0dk,aacc_c10cwqghq00001owfyvwq126,Bank account 2

In [15]:
financials_accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4704 entries, 0 to 4703
Data columns (total 3 columns):
id                     4704 non-null object
customer_account_id    4704 non-null object
name                   4704 non-null object
dtypes: object(3)
memory usage: 110.3+ KB

In [12]:
 financials_balances.head(10)

,id,account_id,amount,accrual_date
0,finblce_clqsroena000b1o70b5d0240d,finacc_clqsrob7p000a1o70h4lnefn9,20000000,2018-03-27
1,finblce_clr5aflhj008l1o70d0i79s1u,finacc_clr5afi01008k1o703vlrv3it,666181756,2017-10-13
2,finblce_clt7z6u9500b41o70np8qcjsr,finacc_clr5afi01008k1o703vlrv3it,414855384,2018-03-28
3,finblce_clv20f0yn00lu1o70kn9jksah,finacc_clqsrob7p000a1o70h4lnefn9,20000000,2018-03-28
4,finblce_csb6sn3tc0003e5a8wyouo0dk,finacc_csb6smrli0002e5a8b7haliai,12571741,2018-03-30
5,finblce_csb6snho60005e5a854687jg1,finacc_csb6sne3z0004e5a8h6cklh2s,2969975,2018-03-30
6,finblce_csb6snskb0007e5a8k3hz7qls,finacc_csb6snoza0006e5a8p3ht5r46,0,2018-03-30
7,finblce_csbetbg2m00i1e5a8ml3qb3t4,finacc_csb6snoza0006e5a8p3ht5r46,0,2018-04-03
8,finblce_clqsrnpam00091o7007ock8i9,finacc_clqsrmqo800081o70ghgxf64s,-77413660,2018-03-27
9,finblce_clv1zuyk700lp1o70jguigdlo,finacc_clqsrmqo800081o70ghgxf64s,-76369727,2018-03-28

In [10]:
 financials_balances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193500 entries, 0 to 193499
Data columns (total 4 columns):
id              193500 non-null object
account_id      193500 non-null object
amount          193500 non-null int64
accrual_date    193500 non-null object
dtypes: int64(1), object(3)
memory usage: 5.9+ MB

In [7]:
financials_transactions.head(10)

,id,account_id,amount,accrual_date
0,fintrn_clqswgddo000d1o70bw046m1l,finacc_clqsrmqo800081o70ghgxf64s,-1142,2017-10-04
1,fintrn_clqswgdgq000e1o707aru17jl,finacc_clqsrmqo800081o70ghgxf64s,-1800,2017-10-02
2,fintrn_clqsz0mzq000i1o700nzc0xi4,finacc_clqsrob7p000a1o70h4lnefn9,1043933,2018-03-26
3,fintrn_clqsz0n1b000j1o701qkb1ydg,finacc_clqsrob7p000a1o70h4lnefn9,-1200,2018-03-26
4,fintrn_clqsz0n2z000k1o70zkcqk7ti,finacc_clqsrob7p000a1o70h4lnefn9,-986752,2018-03-26
5,fintrn_clqsz0n45000l1o70lxludzzy,finacc_clqsrob7p000a1o70h4lnefn9,-55980,2018-03-26
6,fintrn_clqsz0n5g000m1o70o0d1vjfe,finacc_clqsrob7p000a1o70h4lnefn9,3300,2018-03-23
7,fintrn_clqsz0n6n000n1o70w4xosm48,finacc_clqsrob7p000a1o70h4lnefn9,-3300,2018-03-23
8,fintrn_clqsz0n7r000o1o70kz2pal7j,finacc_clqsrob7p000a1o70h4lnefn9,468187,2018-03-14
9,fintrn_clqsz0n8z000p1o70pwwaefee,finacc_clqsrob7p000a1o70h4lnefn9,-468187,2018-03-14

In [8]:
 financials_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112797 entries, 0 to 1112796
Data columns (total 4 columns):
id              1112797 non-null object
account_id      1112797 non-null object
amount          1112797 non-null int64
accrual_date    1112797 non-null object
dtypes: int64(1), object(3)
memory usage: 34.0+ MB

In [ ]:
select t.username, t.date, t.value
from MyTable t
inner join (
    select username, max(date) as MaxDate
    from MyTable
    group by username
) tm on t.username = tm.username and t.date = tm.MaxDate

In [19]:
import pandasql

ModuleNotFoundError: No module named 'pandasql'